@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

.parent-bg {
  background-image: url("../../assets/office-bg.jpg");
}

.todo-container {
  font-family: "Poppins", sans-serif;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 3px solid rgb(138, 61, 6);
  background-color: #ffe4c4;
  padding: 30px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: #21b50e;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  border: 1px solid #000;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task-des {
  word-wrap: break-word;
  overflow: hidden;
}

.task.reminder {
  border-left: 5px solid green;
  text-decoration: line-through;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-icons-btn {
  border: none;
  font-size: 1em;
}

.task-icons-btn:hover {
  transform: scale(1.2);
}

.task-icons > :nth-child(1) {
  margin-right: 5px;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.des-box {
  width: 100%;
  height: 100px !important;
  overflow: auto;
  margin: 5px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.modal {
  margin-top: 20px;
}

.modal-content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #000;
}

.modal-btn {
  display: inline-block;
  color: #fff;
  border: none;
  padding: 1px 10px;
  margin: 10px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
  font-family: inherit;
}

.modal-btn:hover {
  transform: scale(1.1);
}

.error-msg {
  color: red;
  font-size: 15px;
  margin: 5px 0;
}
